body {
    font-family: 'Times New Roman', serif;
  }
  h1 h2 {color: #000000
  } 
  
  h1 {
    font-size: 4em;
  }
  
  h2 {
    font-size: 3em;
  }
  .special {background-color: #630000
  }
.evenrow {color:grey;}

p {background-color: #EEEBDD;
    border: 1px solid #630000;
    padding: 20px;
    margin: 50px;
}
a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
  } 
  nav a:hover {background-color: #D8B6A4;}
  nav {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }